header {
    width: 100%;
    height: auto;
    padding: 24px 0;
    background-color: var(--white-smoke);
}

header > .container {
    width: auto;
    max-width: 1440px;
    height: 100%;
    padding: 0 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > .container > img {
    width: 102px;
    margin-left: 80px;
}

header > .container > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
}

header > .container > nav > ul > li > a {
    text-decoration: none;
    color: var(--black);
}