:root {
    --dark-slate-grey: #495e57;
    --gold: #f4ce14;
    --light-salmon: #ee9972;
    --peach-puff: #fbdabb;
    --white-smoke: #edefee;
    --black: #333333;
}

.container {
    width: auto;
    max-width: 954px;
    height: 100%;
    padding: 0 80px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}